<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-3 login">Login do Cliente</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail"
           name="email"
           placeholder="Informe seu e-mail"
           class="form-control mb-2"
           [(ngModel)]="usuario.email"
           [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid && (email.dirty || email.touched)
           }"
           #email="ngModel"
           email
           required
           />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email deve ser preenchido!
      </div>
      <div *ngIf="email.errors.email">
        Formato do email inválido!
      </div>
    </div>
    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password"
           id="inputSenha"
           name="senha"
           placeholder="Senha"
           class="form-control mb-2"
           [ngClass]="{
            'is-invalid': senha.invalid && (senha.dirty || senha.touched),
            'is-valid': senha.valid && (senha.dirty || senha.touched)
           }"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           required
           />
    <div class="invalid-feedback mb-2" role="alert" *ngIf="senha.invalid && (email.dirty || email.touched)">
      Senha deve ser informada!
    </div>
    <button class="btn btn-primary btn-block" type="submit" (click)="entrar()">Entrar</button>
    <img src="../../../assets/img/quick-b-logo.jpg" />
  </form>
</div>
